@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
  }
  body {
    touch-action: manipulation;
  }
}

.safe-area-inset-top {
  padding-top: env(safe-area-inset-top, 0);
}
.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0);
}
